* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: rgb(7, 7, 7);
}

header {
  padding: 5vh 15vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#score-container {
  width: 200px;
}

.game-container {
  width: 70vw;
  height: 70vh;
  margin: 5vh auto 0;
  border-radius: 10px;
}

#canvas {
  width: 70vw;
  height: 70vh;
  border: 2px solid #fff;
}