* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: rgb(7, 7, 7);
}

header {
  visibility: hidden;
  padding: 5vh 15vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#score-container {
  width: 200px;
}

.game-container {
  width: 70vw;
  height: 70vh;
  margin: 5vh auto 0;
  border-radius: 10px;
}

#canvas {
  width: 70vw;
  height: 70vh;
  border: 2px solid #fff;
}

#modal-window-container {
  position: absolute;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 10vw;
}

#modal-window-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}

#start-game-btn {
  background-color: rgb(7, 7, 7);
  border: 2px #ccc solid;
  color: #ccc;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: 0.1s ease-in-out all;
}

#start-game-btn:hover {
  border: 2px #fff solid;
  color: #fff;
}